{% extends 'base.html.twig' %}

{% block title %}Exercice Symfony{% endblock %}

{% block body %}
	<div class="container p-2">
		{{ form_start(form) }}
		{{ form_end(form) }}


		{% for item in ids %}
			{{ item }}
		{% endfor %}

		<p>{{ ids|length }} player(s) in comparison.</p>
		{% if ids|length > 1 %}
			<a href="">Start comparing</a>
		{% endif %}
	</div>

	<td class="container align-content-between">
		{% if results is defined %}
			<table class="table table-hover">
				<thead>
				<tr>
					<td scope="col">Player ID</td>
					<td scope="col">First Name</td>
					<td scope="col">Last Name</td>
					<td scope="col"></td>
				</tr>
				</thead>
				<tbody>
				{% for player in results['data'] %}
					<tr>
						<td>
							{{ player.id }}
						</td>
						<td>
							{{ player.first_name }}
						</td>
						<td>
							{{ player.last_name }}
						</td>
						<td>
							{% if player.id in ids %}
								<a class="btn btn-danger" href="{{ path('app_comparison_remove', {'id': player.id}) }}">Remove player from comparison</a>
							{% else %}
								<a class="btn btn-primary" href="{{ path('app_comparison_add', {'id': player.id}) }}">Add player to comparison</a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>

			<nav aria-label="Page navigation">
				<ul class="pagination justify-content-center">
					{% if results['meta'].current_page > 1 %}
						<li class="page-item"><a class="page-link" href="{{ path('app_result', {'name': app.request.attributes.get('_route_params').name,
							'page': results['meta'].current_page - 1 }) }}">Previous</a></li>
					{% endif %}
					<li class="page-item"><a class="page-link" href="#">{{ results['meta'].current_page }}</a></li>
					{% if results['meta'].next_page %}
						<li class="page-item"><a class="page-link" href="{{ path('app_result', {'name': app.request.attributes.get('_route_params').name,
								'page': results['meta'].next_page }) }}" >Next</a></li>
					{% endif %}
				</ul>
			</nav>
		{% endif %}
	</div>
{% endblock %}
